extends ../layout

block content
    a.btn.btn-success(href='/usuario/create') New User

    br
    br

    table.table
        thead
            tr  
                th(scope='col') #
                th(scope='col') Name
                th(scope='col') Email
                th(scope='col') Verified
                th(scope='col')
                th(scope='col')
        tbody
            each user in usuarios
                tr
                    td(scope='row') = usuario.id
                    td= usuario.name
                    td= usuario.email
                    td= usuario.verified ? 'Si' : 'No'
                    td
                        a.btn(href= 'users/' + user.id + '/update') Update
                    td
                        form.inline(method='post' action='users/' + usuario.id + '/delete')
                            input(type='hidden' name='id' value= usuario.id)
                            button.link-button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                                = 'Eliminar'