extends ../layout

block content
    a(href='/users') Back

    br
    br
    br

    h1  Update Usuario

    br
    br

    form(action=`/usuarios/${usuario.id}/update` method='post')
    .form-group
        label(for='name') Name: 
        input#nombre.form-control(type='text' name='name' value= usuario.name class=errors.name ? 'is-invalid' : '')
        if errors.name
            small#nameHelp.text-danger
                = errors.name.message  
    
    
    br
    br
    input.btn.btn-primary(type='submit' value='OK')