extends layout

block content

  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='/') Bienvenidos a esta comunidad
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Nosotros
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#projects') Mapa
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/bicicletas') Bicicletas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/usuarios') Usuario 
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#signup') Contacto
          if user
            li.nav-item
              a.nav-link.js-scroll-trigger.text-secondary(href='/logout') 
                b Logout
  // Masthead
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-0.text-uppercase Bicicleta
        h2.text-white-50.mx-auto.mt-2.mb-5 Primera comunidad de ciclistas.
        a.btn.btn-primary.js-scroll-trigger(href='#about') COMENZAR
  // About
  section#about.about-section.text-center
    .container
      .row
        .col-lg-8.mx-auto
          h2.text-white.mb-4 Reencuentro mundial de ciclistas
          p.text-white-50
            | Federacion mundial de ciclistas
      img.img-fluid(src='/images/bicicletas.jpg' alt='')
  // Projects
  section#projects.projects-section.bg-light
    .container
      #main_map
  // Formulario
  section#create.projects-section.bg-light
    a(href='/') Home
    br
    a(href='/bicicletas') Ver lista de Bicicletas
    br
    br
    h1 Nueva Bicicleta
    br
    br
    form#myform(action='/bicicletas/create' method='post')
      label(for="id") ID:
      input#id(type="text" name="id")
      br
      label(for="color") Color:
      input#color(type="text" name="color")
      br
      label(for="modelo") Modelo:
      input#modelo(type="text" name="modelo")
      br
      label(for="lat") Latitud:
      input#modelo(type="text" name="lat")
      br
      label(for="lng") Longitud:
      input#modelo(type="text" name="lng")
      br
      br
      input.btn(type="submit" value='Aceptar')
  // Signup
  section#signup.signup-section
    .container
      .row
        .col-md-10.col-lg-8.mx-auto.text-center
          i.far.fa-paper-plane.fa-2x.mb-2.text-white
          h2.text-white.mb-5 Subscribe to receive updates!
          form.form-inline.d-flex
            input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email' placeholder='Enter email address...')
            button.btn.btn-primary.mx-auto(type='submit') Subscribe
  // Contact
  section.contact-section.bg-black
    .container
      .row
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-map-marked-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Address
              hr.my-4
              .small.text-black-50 Medellin Antioquia, Colombia
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-envelope.text-primary.mb-2
              h4.text-uppercase.m-0 Email
              hr.my-4
              .small.text-black-50
                a(href='#!') rakell@yourdomain.com
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-mobile-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Phone
              hr.my-4
              .small.text-black-50 +1 (57) 302-883 3456
      .social.d-flex.justify-content-center
        a.mx-2(href='#!')
          i.fab.fa-twitter
        a.mx-2(href='#!')
          i.fab.fa-facebook-f
        a.mx-2(href='#!')
          i.fab.fa-github
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .container Copyright &copy; Your Website 2020
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Core theme JS
  script(src='/javascripts/scripts.js')
  script(src='/javascripts/map.js')

