extends ../layout

block content
    a(href='/bicicletas/create') Nueva Bicicleta
    table.table
        thead
            tr
                th(scope = 'col') #
                th(scope = 'col') color
                th(scope = 'col') modelo
                th(scope = 'col') ubicacion
                th(scope = 'col') 
                th(scope = 'col') 

        tbody
            each bici in bicis
                tr
                    td(scope='row')
                        = bici.id
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        a(href=`/bicicletas/${ bici.code }/show` class="btn btn-info") Mostrar
                    td 
                        a(href=`/bicicletas/${ bici.code }/update` class="btn btn-primary") Editar
                    td
                        form.inline(action=`/bicicletas/${ bici.code }/delete` method="post")
                            input(type="hidden" name="code" value=bici.code)
                            button.link-button(type="submit" name="submit_param" value="submit_value" class="btn btn-danger")= "Eliminar"
                        