extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Actualizando Bicicleta

    br
    br

    form(action=`/bicicletas/${bici.id}/update` method ='post')
        lavel(for='id') ID:
        input#id(type = 'text' name = 'id' value=bici.id) 
        br
        lavel(for='color') Color:
        input#color(type = 'text' name = 'color' value=bici.color) 
        br
        lavel(for='modelo') Modelo:
        input#modelo(type = 'text' name = 'modelo' value=bici.modelo) 
        br
        lavel(for='lat') Latitid:
        input#modelo(type = 'text' name = 'lat' value=bici.ubicacion[0]) 
        br
        lavel(for='lng') Longitud:
        input#modelo(type = 'text' name = 'lng' value=bici.ubicacion[1]) 
        br
        br
        input.btn(type='submit', value='OK')
